.food-selector {
    position: relative; /* to position popup relative to the input field */
}

.popup {
    /* positioning: */
    position: absolute; /* to put popup outside of page flow */
    top: 30px;
    left: 5px;
    /* sizing: */
    max-height: 7em;
    overflow: auto;
    min-width: 30em;
    /* details: */
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.3), -1px -1px 2px rgba(0, 0, 0, 0.2);
}

.popup > *::before {
    content: "> ";
}
.popup > *:hover {
    background-color: rgba(0, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.8);
}
