.table-display {
    --vertical-spacing: 0.1em;
    --left-side-space-correction: 0.0em;
    --divider-color: rgba(0, 0, 0, 0.2);

    margin-left: var(--left-side-space-correction);
    display: grid;
    grid-template-columns: minmax(10em, 30em) minmax(10em, 20em) auto;
    align-items: center;
    justify-items: center;
}
.table-display > .name {
    justify-self: start;
    margin-left: 0.5em;
}
.table-display > .macros {
    justify-self: stretch;
}
.table-display > .divider {
    width: calc(100% + var(--left-side-space-correction));
    justify-self: right;
    height: 1px;
    margin: var(--vertical-spacing) 0;
    background-color: var(--divider-color);
    grid-column: 1 / -1;
}
.table-display .quantity-editor > input {
    max-width: 3em;
}

/* styles for debug */
/*
.table-display {
    background-color: red;
}
.table-display > * {
    background-color: beige;
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
}
*/
